<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

    <title>修改密码 | (⊙﹏⊙)这里插满了Flag</title>
    <link rel="shortcut icon" th:href="@{/images/favicon.ico}" type="image/x-icon" />
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

    <script th:src="@{/js/jquery-3.1.1.min.js}" src="/js/jquery-3.1.1.min.js"></script>
    <script th:src="@{/js/popper.min.js}" src="/js/popper.min.js"></script>
    <script th:src="@{/js/bootstrap.min.js}" src="/js/bootstrap.min.js"></script>
</head>
<body style="background-color: #dee2e6;">

<div class="container mt-5  pt-3">

    <div class="card shadow mt-5" style="width:350px;margin:auto">
        <div class="card-header">
            <h3 align="center">修改密码</h3>
        </div>
        <div class="card-body" style="opacity:0.8;">
            <div class="form-group">
                <input type="password" name="password" class="form-control" placeholder="密码"><br>
                <input type="password" name="password2" class="form-control" placeholder="确认密码">
                <input type="password" name="code" class="form-control" style="display: none" th:value="${code}">
                <label id="errorInfo" class="form-text text-danger float-right"></label><br>
            </div>
            <div style="text-align:center">
                <button id="changePassword" type="submit" class="btn btn-primary" style="width:280px">确认修改</button>
            </div>
        </div>
        <div class="card-footer">
            <p align="center">放弃修改？<a href="/signIn">点击登录</a></p>
        </div>
    </div>
    <div class="d-flex justify-content-center mt-3">
        <div id="loading" class="spinner-border text-primary" role="status" style="display: none;"></div>
    </div>
</div>
<script src="/js/flag.js"></script>
<script>
    changePassword();
</script>
</body>
</html>